funciones/__pycache__/funciones.cpython-313.pyc
inventario/version/__pycache__/version.cpython-313.pyc
funciones/__pycache__/operaciones.cpython-311.pyc
funciones/__pycache__/operaciones.cpython-313.pyc
